.card-list {
  width: 55vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 2fr));
  align-items: center;
  justify-items: center;
  grid-gap: 3em;
  margin-bottom: 50px;
}
